#head{
    font-size: 20;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mid{
    margin-top: 50px;
}

.tabletop5{
     font-family: 'Times New Roman', Times, serif; 
}

.undertable{
    font-family: 'Times New Roman', Times, serif;
}
