.form-control{
  border-style: solid;
  border-radius: 30px;
}
 .infobox{
  height: 280px;
  margin-bottom: 20px;
}

#progress-bar {
    background:#99ccff;
    height:20px;
    width:0%;
    display:inline-block;
}

.checkbox{
    border-radius: 20px;
}
.checkbox {
       border-radius: 20px;
}

#mid{
    margin-top: 6%;
}

.autobox{
    margin-top: 10px;
}

 .auto{
    color: white;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 20px;
}
.toggle.ios .toggle-handle {
    border-radius: 20px;
}

body{
  background-color: #e0c1e0;

}

.headbox{
    font-size: 20;
    font-family: Courier New, Courier, monospace;
}

#fame{
  text-align: center;
}
