#policeman{
  color:white;
}

.text{
  resize: none;
  width: 100%;
}

.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 100%;
height: 70%;
overflow: scroll;
}
.feed{
   font-size: 25;
   font-family: fantasy;
 }

 #news{
   border-style: dotted;
 }
#graphText{
  font-size: 30;
  font-weight: bold;
}
 body{
    background-color: #e6e6fa;

 }

 .panel-heading{
   font-family: 'Times New Roman', Times, serif;
 }

 .panel-body{
   font-family: 'Times New Roman', Times, serif
 }

 #chat{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }

 .posys{
   color: white;
   display: flex; 
   align-items: center;
   font-weight: bold;
 }

 .navbar-brand{
   font-family: Georgia, 'Times New Roman', Times, serif;
 }