#policeman{
  color:white;
}

.text{
  resize: none;
  width: 100%;
}

.myBox {
border: none;
padding: 5px;
font: 24px/36px sans-serif;
width: 100%;
height: 70%;
overflow: scroll;
}
.feed{
   font-size: 25;
   font-family: fantasy;
 }

 #news{
   border-style: dotted;
 }
<<<<<<< HEAD

 body{
    background-color: #e6e6fa; 
      /* background-color: #f0f8ff; */

 }
=======
>>>>>>> 2927a2e48f1dfc2a144b49c904afb902d9c3ebab
