.weatherLocation{
    font-size: 25;
    /* font-weight: bold; */
}

#mid{
    margin-top: 2.5%;
}

#head{
    font-size: 25;
    font-family: Courier New, Courier, monospace;
}

.tabletop5{
    font-size: 40;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.weatherLocation{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: #E5ECF4 !important;

}
